@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  position: relative;
}
body {
  background-color: #38d9a9;
  padding: 2.4rem;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9rem;
  align-items: center;
}

.logo {
  color: #099268;
  font-weight: bold;
  font-style: italic;
  font-size: 2.4rem;
}

.navigation-bar {
  font-size: 2.4rem;
  /*flex: 1;*/
  color: #087f5b;
  font-weight: 500;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.header-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4.8rem;
  justify-content: center;
}

.hero-paragraph {
  margin-top: 2rem;
}

.sub-paragraph {
  line-height: 1;
  margin-top: 2.4rem;
}

.active {
  color: #fff;
  background-color: #087f5b;
  border-radius: 11px;
  padding: 2px 10px;
}

.hero-img-container span {
  display: block;
  position: relative;
  border-radius: 100%;
  height: 600px;
  width: 600px;
  background-color: #20c997;
  overflow: hidden;
  box-shadow: 2rem 3.2rem 4rem rgba(51, 51, 51, 0.5);
}

.hero-img {
  height: 600px;
  position: absolute;
  left: -40%;
  top: 50%;
  transform: translate(50%, -50%);
  /*transform: translate(-10%, -50%);*/
}

.hero-link {
  text-decoration: none;
  color: #333;
}

.deal {
  color: #333;
}

.new-style {
  color: #087f5b;
}

.fashion-store {
  color: #090909d4;
}

.cta-container {
  text-align: center;
  margin-top: 3.6rem;
  margin-right: 4rem;
}

.shop-now {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 3.6rem;
  margin-bottom: 1rem;
  background-color: #dbdbdb;
  color: #212529;
  border-radius: 9px;
  cursor: pointer;
}

.website {
  text-decoration: none;
  display: block;
  color: #333;
  letter-spacing: 0.2rem;
}

.hero-link {
  letter-spacing: 0.4rem;
}
/*UTILITIES*/

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.text-md {
  font-size: 10rem;
}

.text-sm {
  margin-left: 0.5rem;
  font-size: 3.2rem;
  letter-spacing: 2.5rem;
}

.text-extra-sm {
  margin-left: 0.7rem;
  font-size: 1.6rem;
  letter-spacing: 1.8rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.icon {
  display: block;
}

.search-icon {
  font-size: 32px;
  color: #087f5b;
}
